<li>
     <p><%= post.content%></p>
     <p><%= post.user.name%></p>

     <%if(locals.user && (locals.user.id==post.user.id)){%>
        <small>               
             <a href="/post/destroy/<%=post.id%>"> Delete Post</a>
               </small>
               

     <%} %>
      <ul>
          <% for(comment of post.comments){%> 
              <%- include("_comments")-%>
             
          <%}%>

      </ul>
   
     <%  if(locals.user){%> 
        <form action="/comments/create" method="post">
        <input type="text" name="content" placeholder="type a comment">
        <input type="hidden" name="post" value="<%= post._id %>">
        <input type="submit">
        </form>
        <a href="post/likes/<%=post.id%>"><%=post.likes.length%>likePost</a>

     <%}%>

     
</li>