     <link rel="stylesheet" href="/css/home.css">
    <h1>suing view js we are on home  page Boom Boom</h1>
   <% if(locals.user){%>
     <form action="/post/create" method="Post">
          <textarea row="10" col="20" name="content"></textarea>
          <input type="submit">
     </form>
   <%}   %>
   
    <% for( let post of posts){%>
     <p><%= post.content%></p>
     <p><%= post.user.name%></p>
     <%  for(comment of post.comments){
          %>
          <p> commnet=<%= comment.content%></p>
          <p> one who commented=<%= comment.user.name%></p>
     <%}
     %>
  
    
     <%  if(locals.user){%> 
          <form action="/comments/create" method="post">
          <input type="text" name="content" placeholder="type a comment">
          <input type="hidden" name="post" value="<%= post._id %>">
          <input type="submit">
          </form>
          <%} %>
    

     <%}%>
     
    
     
  